@import "tailwindcss";

body,
html {
  font-family: "Kanit", serif;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
}

h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.6em;
}

img.pokemon-img {
  width: 300px;
  height: 300px;
}

input {
  padding: 12px;
  border: 1px solid black;
}

.link {
  padding: 15px;
  border: 1px solid black;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
}
